<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="120" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="QueryStringModule" name="QueryStringModule" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <identity impersonate="true" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="12000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" domain="" />
    <pages controlRenderingCompatibilityVersion="3.5" enableViewStateMac="true" enableEventValidation="true" validateRequest="false" viewStateEncryptionMode="Always" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.ComponentModel" />
        <add namespace="System.Data" />
        <add namespace="System.Data.SqlClient" />
        <add namespace="System.Drawing" />
        <add namespace="Microsoft.VisualBasic" />
        <add namespace="System.Globalization" />
        <add namespace="DotNetNuke.Services.Localization" />
        <add namespace="DotNetNuke.Entities.Users" />
        <add namespace="DotNetNuke" />
        <add namespace="DotNetNuke.Common" />
        <add namespace="DotNetNuke.Data" />
        <add namespace="DotNetNuke.Framework" />
        <add namespace="DotNetNuke.Modules" />
        <add namespace="DotNetNuke.Security" />
        <add namespace="DotNetNuke.Services" />
        <add namespace="DotNetNuke.UI" />
        <add namespace="DotNetNuke.Entities.Portals" />
        <add namespace="DotNetNuke.Common.Utilities" />
        <add namespace="DotNetNuke.Services.Exceptions" />
        <add namespace="DotNetNuke.Entities.Tabs" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="None">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <trace enabled="false" pageOutput="false" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="QueryStringModule" name="QuezryStringModule" />
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="~/Landing.aspx" />
        <add value="landing.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMaxAge="2.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="CultureInfo" value="en-IN" />

    <!--<add key="ConnectionString" value="Server= 13.232.69.145;Database=Skorkel_Dev;Uid=sa;Pwd=ASk0r@Dm1n;Connection TimeOut=1000;packet size=1000 " />-->

    <!--<add key="ConnectionString" value="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Skorkel_Dev;Integrated Security=true" />-->
    <add key="ConnectionString" value="Server=(LocalDb)\MSSQLLocalDB;Database=Skorkel_New;Integrated Security=true;Connection TimeOut=1000;packet size=1000 " />
    <!--<add key="UATConnectionString" value="Server=115.124.123.154\SQLSERVER2008R2;Database=Skorkel_QA;Uid=sa;Pwd=Sk0rK#L$#@;Connection TimeOut=1000;packet size=1000 " />-->

    <!--<add key="MailURL" value="http://115.124.123.151" />-->
    <add key="MailURL" value="http://192.168.254.134:85" />
    <add key="MailURLPasswordSet" value="http://192.168.168.4/SkorkelNewPub/Profile" />
    <!--<add key="APIURL" value="http://115.124.123.145:8080/SkorkelWeb/" />-->
    <!--<add key="APIURL" value="http://115.124.109.25:8080/SkorkelWeb/" />-->
    <add key="APIURL" value="http://13.127.203.183:9090/SkorkelWeb/" />
    <!--<add key="APIURL" value="http://13.232.49.194/SkorkelWeb/" />-->
    <!-- <add key="APIURL" value="http://52.21.51.53/SkorkelWeb/" />-->
    <add key="ISAPIURLACCESSED" value="1" />
    <add key="ISAPIResponse" value="0" />
    <add key="ResearchAPIURL" value="http://115.124.109.25:8080/SkorkelWeb/" />
    <!--<add key="ResearchAPIURL" value="http://52.21.51.53/SkorkelWeb/" />-->
    <!--<add key="ResearchAPIURL" value="http://115.124.123.145:8080/SkorkelWeb/" />-->
    <add key="ShareLink" value="http://115.124.123.151" />
    <add key="mailfrom" value="no-reply@skorkel.com" />
    <add key="mailServer" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="UserName" value="AKIAJPPIHUJOAPHG2RQQ" />
    <add key="Password" value="AjwSQJrVpEADbevrMgAF9OjJh9AJ3WlUZFFbtfulR1/U" />

    <add key="MailSSL" value="1" />
    <add key="Port" value="587" />
    <add key="DisplayName" value="Team Skorkel (Priyanka)" />
    <add key="FB_APIKey" value="249675111836180" />
    <add key="FB_Secret" value="98afb804291361f078c877bae3c3b4c3" />
    <add key="Callback" value="http://localhost:5428/Web/Profile/Scrl_AccountSettings.aspx" />
    <!--Local Host Start-->

    <add key="LiApiKey" value="775r9phdlt11ox" />
    <add key="LiSecretKey" value="rKaiJyGyFfZwkS3e" />
    <!--Local Host End-->
    <!--http://192.168.168.61/ Host Start />-->
    <!--<add key="LiApiKey" value="775r9phdlt11ox" />
    <add key="LiSecretKey" value="rKaiJyGyFfZwkS3e" />-->
    <!--http://192.168.168.61/ Host Start />-->
    <!--Local Host Start-->

    <add key="GoogleClientId" value="635881557127-s01ljjtfcpu75juk6p5u4ser09q8p927.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="wZhfchMgT4_NjxFpvs3p0Uk5" />
    <add key="GoogleRedirectUrl" value="http://localhost:8080/signup2.aspx" />


    <!--
    <add key="GoogleClientId" value="399070971396-mfovqrth945nijv5mhkpun59q71qda77.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="yeernf6sufTdyO1CQzF0-819" />
    <add key="GoogleRedirectUrl" value="http://localhost/skorkel/signup2.aspx"/>-->
    <!--
    <add key="GoogleRedirectUrl" value="http://localhost:51196/Skorkel%20SVN/SignUp2.aspx" />
    -->
    <add key="GoogleMailUrl" value="615229589717-e914gs32dqoi6dvuft82oq7d5t404lfh@developer.gserviceaccount.com" />
    <!--Local Host End-->
    <!--http://192.168.168.61/ Host Start />-->
    <!--<add key="GoogleClientId" value="615229589717-rgqb1ase2bu5fjulve5cfs0amuo4majg.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="aeb7KyfOulkL884XFoBvbTcX" />
    <add key="GoogleRedirectUrl" value="http://192.168.168.61/Skorkel/SignUp2.aspx" />
     <add key="GoogleMailUrl" value="615229589717-rgqb1ase2bu5fjulve5cfs0amuo4majg@developer.gserviceaccount.com" />-->
    <!--http://192.168.168.61/ Host END />-->
    <!--http://115.124.123.151/Landing.aspx Host Start />-->
    <!--<add key="GoogleClientId" value="615229589717-26n8144ukcjin0fd1gp9469q021p5teb.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="OBZkqa0PjXzavXSHIyDGfxBE" />
    <add key="GoogleRedirectUrl" value="http://api.skorkel.com/SignUp2.aspx" />
    <add key="GoogleMailUrl" value="615229589717-26n8144ukcjin0fd1gp9469q021p5teb@developer.gserviceaccount.com" />-->
    <!--http://115.124.123.151/Landing.aspx Host END />-->
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="adminMail" value="ashwani@atlogys.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.40412.0" newVersion="4.1.40412.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
    <customErrors mode="off" defaultRedirect="~/Landing.aspx">
      <error statusCode="302" redirect="~/Landing.aspx" />
    </customErrors>
  </runtime>
</configuration>