
/****** Object:  Table [dbo].[Scrl_CompetitionMasterTbl]    Script Date: 17-04-2019 17:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('dbo.Scrl_CompetitionMasterTbl', 'U') IS NOT NULL 
	DROP TABLE [dbo].[Scrl_CompetitionMasterTbl]
GO

CREATE TABLE [dbo].[Scrl_CompetitionMasterTbl](
	[CompetitionId] [bigint] IDENTITY(1,1) NOT NULL,
	[intMilestoneId] [int] NULL,
	[CompName] [varchar](500) NULL,
	[CompLevel] [int] NULL,
	[intAddedBy] [int] NULL,
	[dtAddedOn] [datetime] NULL,
	[IpAddress] [varchar](50) NULL,
	[intModifiedBy] [int] NULL,
	[dtModifiedOn] [varchar](50) NULL,
	[Competitiontype] [varchar](100) NULL,
	[Tier] [numeric](18, 0) NULL,
	[Points] [numeric](10, 2) NULL,
	[position] [varchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Scrl_CompetitionMasterTbl] ON 

INSERT [dbo].[Scrl_CompetitionMasterTbl] ([CompetitionId], [intMilestoneId], [CompName], [CompLevel], [intAddedBy], [dtAddedOn], [IpAddress], [intModifiedBy], [dtModifiedOn], [Competitiontype], [Tier], [Points], [position]) VALUES (100, NULL, N'Phillip C. Jessup, Washington', NULL, NULL, NULL, NULL, NULL, NULL, N'Moot', CAST(1 AS Numeric(18, 0)), CAST(50.00 AS Numeric(10, 2)), NULL)
INSERT [dbo].[Scrl_CompetitionMasterTbl] ([CompetitionId], [intMilestoneId], [CompName], [CompLevel], [intAddedBy], [dtAddedOn], [IpAddress], [intModifiedBy], [dtModifiedOn], [Competitiontype], [Tier], [Points], [position]) VALUES (101, NULL, N'Manfred Lachs Space Moot, World Finals and Asia-Pacific Rounds', NULL, NULL, NULL, NULL, NULL, NULL, N'Moot', CAST(1 AS Numeric(18, 0)), CAST(50.00 AS Numeric(10, 2)), NULL)
INSERT [dbo].[Scrl_CompetitionMasterTbl] ([CompetitionId], [intMilestoneId], [CompName], [CompLevel], [intAddedBy], [dtAddedOn], [IpAddress], [intModifiedBy], [dtModifiedOn], [Competitiontype], [Tier], [Points], [position]) VALUES (102, NULL, N'Willem C. Vis, Vienna', NULL, NULL, NULL, NULL, NULL, NULL, N'Moot', CAST(1 AS Numeric(18, 0)), CAST(50.00 AS Numeric(10, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[Scrl_CompetitionMasterTbl] OFF
